:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #0ae50a; /* Highlight background color */
  color: #000; /* Text color when highlighted */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em 0 1em;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

ul li {
  display: block;
  gap: 2;
  padding: 14px 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  border: 10px solid rgb(16, 12, 244);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(264, 100%, 99%, 0.3);
  padding: 1.1em;
  margin: 1em;
  text-align: center;
  max-width: 250px;
}
.card .card-image {
  max-width: 70%;
  height: auto;
  margin-bottom: 1em;
}

/* .button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button::hover {
  transform: translateY(10%);
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
